[user]
    name = foostan
    email = ks@fstn.jp
[color]
    ui = auto
[core]
    editor = vim
[alias]
    graph = log --graph --decorate --oneline
    a = add
    c = commit -v
    cm = commit -vm
    d = diff
    dc = diff --cached
    s = status
    ss = status -s
[push]
    default = matching
